body{
    margin: 0;
    padding: 0;
    background-image: url('../images/bgImg1.jpg');
    color: white;
    font-weight: bold;
    //background-color: green;
}
/*  Header Line On top of the table */
p{
    padding: 0;
    margin-left: 100px;
    margin-bottom: 0;
}
/*To give the round shape to input feilds */
input{
    border-radius: 5px;
}
/* Main SignUp info form*/
#main{
    width: 400px;
    height: 400px;
    margin-left: 450px;
    display: none;
}
/* Shows errors if any occures*/
#errorMsg{
    color: red; 
    font-weight: bold;
    font-size: 25px;
}
/* Main div containing whole signUp page*/
#header{
    margin: 40px 0 0 470px;
    color: window;
    font-size: 20px;
}
/* Header line's */
#header a{
    color: black;
}
/* Edit button */
#success a{
    color: black;
    margin-left: 301px;
}
/* table within form*/
#tbl{
    border: solid 1px white ;
    border-radius: 20px;
    width: 500px;

}
/*Submit button*/
#button{
    margin-left: 129px;
}
/* Secondary table shows filled detail of user*/
#success{
    margin-left: 470px;
    border-radius: 10px;
    width: 425px;
    font-size: 18px;
    border-style: solid; 
}